<div class="container-fluid custom">
    <h1>Dhanashree Awadhani</h1>
    <p>Will put an image over here</p>
    <div class="row row-cols-2 row-custom">
        <div class="col col-lg-6">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Who am I?</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Management Student</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-6">
            <img src="../../assets/cartoon-of-businessman-pointing-right-and-up-vector-20257620.jpg" alt="">
        </div>
        <div class="col col-lg-6">
            <img src="../../assets/96877918-cartoon-stick-man-drawing-conceptual-illustration-of-businessman-pointing-left-.jpg" alt="">
        </div>
        <div class="col col-lg-6"> 
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">What I do?</h5>
                <h6 class="card-subtitle mb-2 text-muted">Create content for you</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>  
</div>
